<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cosc325.bouncerbuddy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    //use camera	
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@style/AppTheme" >
        //Scanner
        <activity
            android:name="mobi.pdf417.activity.Pdf417ScanActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="mobi.pdf417.activity.Pdf417ScanActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                //Main
        <activity
            android:name="com.cosc325.bouncerbuddy.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        //Settings
        <activity
            android:name="com.cosc325.bouncerbuddy.SettingsActivity"
            android:label="@string/title_activity_settings" >
            <intent-filter>
                <action android:name="android.settings.SETTINGS" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cosc325.bouncerbuddy.SimpleResults"
            android:label="@string/title_activity_simple_results" >
        </activity>
        <activity
            android:name="com.cosc325.bouncerbuddy.ResultsActivity"
            android:label="@string/title_activity_results" >
        </activity>
    </application>

</manifest>
